Django==3.0.12
django-debug-toolbar
django-registration-redux==2.7
django-tokenapi
django-countries
psycopg2-binary==2.8.4
gunicorn
django-anymail
sendgrid
sentry-sdk
djangorestframework==3.11.0
pytest
pytest-django
