Django==3.0.4
django-debug-toolbar
django-registration-redux==2.7
django-tokenapi
django-countries
psycopg2==2.8.4
gunicorn
django-anymail
sendgrid
raven
djangorestframework==3.11.0
pytest
pytest-django
pytest-cov
