{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="alert alert-info text-center" role="alert">
        {% blocktrans %}
        We have sent you an email with a link to reset your password. Please check
        your email and click the link to continue.
        {% endblocktrans %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
