{% extends 'base.html' %}
{% load static %}

{% block title %}Password reset{% endblock title %}

{% block custom_css %}<link href="{% static "css/signin.css" %}" rel="stylesheet">{% endblock custom_css %}

{% block content %}
<form method="POST" class="form-signin">{% csrf_token %}
    <h2 class="form-signin-heading">Password reset</h2>
    <div class="form-group {% if form.email.errors %}has-danger{% endif %}">
        <input type="email" class="form-control {% if form.email.errors %}form-control-danger{% endif %}" id="emailId" name="{{form.email.name}}" placeholder="{{form.email.label}}">
        <div class="form-control-feedback">{{form.email.errors}}</div>
        <small id="emailHelp" class="form-text text-muted">Enter your email address above, and we'll email instructions for setting a new one.</small>
    </div>

    <button type="submit" class='btn btn-lg btn-primary btn-block'>Reset password</button>
</form>
{% endblock content %}
