{% extends 'base.html' %}
{% load static %}

{% block title %}Register{% endblock title %}

{% block custom_css %}<link href="{% static "css/signin.css" %}" rel="stylesheet">{% endblock custom_css %}

{% block content %}
<form method="POST" class="form-signin">{% csrf_token %}
    <h2 class="form-signin-heading">Register</h2>

    <div class="form-group {% if form.username.errors %}has-danger{% endif %}">
        <input type="text" class="form-control {% if form.username.errors %}form-control-danger{% endif %}" id="usernameId" placeholder="{{form.username.label}}">
        <div class="form-control-feedback">{{form.username.errors}}</div>
        <small id="usernameHelp" class="form-text text-muted">{{form.username.help_text}}</small>
    </div>

    <div class="form-group {% if form.email.errors %}has-danger{% endif %}">
        <input type="email" class="form-control {% if form.email.errors %}form-control-danger{% endif %}" id="emailId" placeholder="{{form.email.label}}">
        <div class="form-control-feedback">{{form.email.errors}}</div>
        <small id="emailHelp" class="form-text text-muted">{{form.email.help_text}}</small>
    </div>

    <div class="form-group {% if form.password1.errors %}has-danger{% endif %}">
        <input type="password" class="form-control {% if form.password1.errors %}form-control-danger{% endif %}" id="password1Id" placeholder="{{form.password1.label}}">
        <div class="form-control-feedback">{{form.password1.errors}}</div>
        <small id="password1Help" class="form-text text-muted">{{form.password1.help_text}}</small>
    </div>

    <div class="form-group {% if form.password2.errors %}has-danger{% endif %}">
        <input type="password" class="form-control {% if form.password2.errors %}form-control-danger{% endif %}" id="password2Id" placeholder="{{form.password2.label}}">
        {% for error in form.password2.errors %}
        <div class="form-control-feedback">{{error}}</div>
        {% endfor %}
        <small id="password2Help" class="form-text text-muted">{{form.password2.help_text}}</small>
    </div>

    <button type="submit" class='btn btn-lg btn-primary btn-block'>Register</button>
    <p><br>Already a member? <a href="{% url 'auth_login' %}">Login</a></p>

</form>
{% endblock content %}
