{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load laptime_extras %}

{% block title %}Laptimes ranking{% endblock title %}

{% block content %}
<br>
<div class="row">
    <div class="col-2 pl-4 pt-5">
        <form method="GET">
            {% for form in forms %}
            {{form.as_p}}
            {% endfor %}
            <div class="form-group row">
                <div class="col-sm-1">
                    <button type="submit" class='btn btn-primary'>Show</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-8">
        <div class="container">
            {% url 'user_laptimes' as user_laptimes_path %}
            <table class="table table-hover table-sm table-bordered" cellspacing="0" id="laptimes" style="width:100%">
                <thead>
                    <tr>
                        {% if request.path != user_laptimes_path %}
                        <th style="border-bottom:none; border-top:none">Pos</th>
                        {% endif %}
                        {% if request.path != user_laptimes_path %}
                        <th style="border-bottom:none; border-top:none">Driver</th>
                        {% endif %}
                        {% if laptimes %}
                            {% for split in laptimes.0.0.splits %}
                        <th style="border-bottom:none; border-top:none">Sector {{forloop.counter}}</th>
                            {% endfor %}
                        {% else %}
                        <th style="border-bottom:none; border-top:none">Sectors</th>
                        {% endif %}
                        <th style="border-bottom:none; border-top:none">Time</th>
                        <th style="border-bottom:none; border-top:none">Diff</th>
                        <th style="border-bottom:none; border-top:none">Date</th>
                        {% if user.is_authenticated and request.path == user_laptimes_path %}
                        <th style="border-bottom:none; border-top:none"></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for laptime, diff_to_prev in laptimes %}
                    <tr>
                        {% if request.path != user_laptimes_path %}
                        <td class="text-success font-weight-bold">{{forloop.counter|ordinal}}</td>
                        {% endif %}
                        {% if request.path != user_laptimes_path %}
                        <td><img src="{{user.profile.country.flag}}"/> {{laptime.user.username}}</td>
                        {% endif %}
                        {% for split in laptime.splits %}
                        <td class="text-warning">{{split|to_laptime}}</td>
                        {% endfor %}
                        <td>{{laptime}}</td>
                        <td>{% if diff_to_prev %}+{{diff_to_prev}}{% endif %}</td>
                        <td>{{laptime.created_at|date:'d M Y - H:i:s'}}</td>
                        {% if user.is_authenticated and request.path == user_laptimes_path %}
                        <td style="text-align: center">
                            {% if laptime.car_setup %}
                            <a class="btn btn-success btn-sm" href="{% url 'download_setup' laptime.car_setup.id %}" role="button"><i class="fa fa-download" aria-hidden="true"></i> setup</a>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block custom_scripts %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.js"></script>
<script type="text/javascript">
    {% url 'user_laptimes' as user_laptimes_path %}
    $(document).ready(function() {
        $('#laptimes').DataTable({
            "info": false,
            "language": {"emptyTable": "No laptimes available"},
            {% if laptimes and request.path == user_laptimes_path %}
            "order": [[ 3, "asc" ]],
            "columnDefs": [{"targets": 4, "orderable": false},
                           {"targets": 6, "orderable": false}],
            {% elif laptimes and request.path != user_laptimes_path %}
            "order": [[ 4, "asc" ]],
            "columnDefs": [{"targets": 0, "orderable": false},
                           {"targets": 6, "orderable": false}],
            {% else %}
            "ordering": false,
            {% endif %}
        });
    });
</script>

{% endblock custom_scripts %}
