{% extends 'base.html' %}
{% load humanize %}
{% load laptime_extras %}
{% block title %}AC-Ranking{% endblock title %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Driver ranking system</h1>
        <p class="lead">Save your laptimes online and compare with the rest Assetto Corsa drivers.</p>
        <p><a class="btn btn-lg btn-success" href={% url 'registration_register' %} role="button">Sign up today</a></p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Ranking</h4>
            <p>Climb the rankings and compare your position among other Assetto Corsa drivers.</p>

            <h4>Access Anytime Anywhere</h4>
            <p>Access your laptimes even when you do not play Assetto Corsa from your pc, phone, tablet.</p>
        </div>

        <div class="col-lg-6">

            <h4>Speed behind the numbers</h4>
            <p>Compare and analyze your timings to find where you can improve.</p>

            <h4>Dashboard</h4>
            <p>Graphs will help you to analyze data where numbers can not be read.</p>
        </div>

        <div class="col-lg-6 offset-md-6">
            <h5>Latest laptimes</h5>
            <ul class="list-group">
            {% for laptime in laptimes %}
            <li class="list-group-item small">{{ laptime.time|to_laptime }} by {{ laptime.user }} on {{ laptime.track }} with {{ laptime.car }} {{ laptime.created_at|naturaltime }}</li>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock content %}
