{% extends 'base.html' %}
{% block title %}Profile{% endblock title %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-2 pl-4 pt-5">
            <form method="POST" class="form-profile">{% csrf_token %}
                <h2>Profile</h2>

                {{user_form.as_p}}
                {{profile_form.as_p}}

                <button type="submit" class='btn btn-lg btn-primary btn-block'>Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
